<!DOCTYPE html>
<html>
<head>

  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="bootstrap/js/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Create a New Award</a>
      </div>

    </div>
  </nav>

  <form action="/award" method="post">
          Recipient Name:<br>
          <input type="text" name="recipname" value={{recip}}>
          <br>
          Recipient Email:<br>
          <input type="text" name="recipemail" value={{email}} >
          <br><br>
          Award Type:<br>
          <input type="text" name="type" value={{email}} >
          <br><br>

          Senders Email Address:<br>
          <input type="text" name="manageremail" value={{sender_email}} }>
          <br>
          Sender Email Address Password:<br>
          <input type="text" name="managerpassword"  >
          <br>

        <div><input type="submit" class="btn btn-large btn-primary" value="Email Award"></div>
  </form>
  <br><br>
  <!-- Link to allow user to go back to home page -->
  <a href="/user/{{current_user}}"><type="button"  class="btn btn-primary">Go Back</button></a>




</body>
</html>
