<!DOCTYPE html>
<html>
<head>

  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="bootstrap/js/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Create a New Account</a>
      </div>

    </div>
  </nav>

  <form action="/createUser" method="post">
          User Name:<br>
          <input type="text" name="username" >
          <br>
          Name:<br>
          <input type="text" name="realname" >
          <br>
          Password:<br>
          <input type="text" name="password" >
          <br>
          Email:<br>
          <input type="text" name="email" >
          <br>
        <div><input type="submit" class="btn btn-large btn-primary" value="Sign up"></div>
  </form>

  <br><br>
  <a href="/"><type="button"  class="btn btn-primary">Go Back to Homepage</button></a>

</body>
</html>
